<p>Navegá usando las opciones de la lista.</p>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/movies">Películas</a></li>
    <li><a href="/actors">Actores</a></li>
    <li><a href="/genres">Generos</a></li>
</ul>