<!DOCTYPE html>
<html>
  <head>
    <title>UdeSA Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>UdeSA Movies</h1>
    <p>Bienvenidos a UdeSA Movies</p>
    <h2>Menú</h2>
    <%- include("./partials/menu.ejs") %>

    <h2>Lista de todos los actores</h2>
    <p>Debajo deberás mostrar una lista con los nombres completos (nombre y apellido) de los actores que figuren en la base de datos y por cada actor debe verse la lista de películas en las que participó.</p>

  </body>
</html>
