<!DOCTYPE html>
<html>
  <head>
    <title>UdeSA Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>UdeSA Movies</h1>
    <p>Bienvenidos a UdeSA Movies</p>
    <h2>Menú</h2>
    <%- include("./partials/menu.ejs") %>

    <h2>Lista de todos los géneros</h2>
    <p>Debajo deberás mostrar la lista con los nombres de los géneros que figuren en la base de datos y dentro de cada género mostrar las películas asociadas a cada uno.</p>

  </body>
</html>
