<!DOCTYPE html>
<html>
  <head>
    <title>UdeSA Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>UdeSA Movies</h1>
    <p>Bienvenidos a UdeSA Movies</p>

    <h2>Menú</h2>
    <%- include("./partials/menu.ejs") %>


  </body>
</html>
