<!DOCTYPE html>
<html>
  <head>
    <title>UdeSA Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>UdeSA Movies</h1>
    <p>Bienvenidos a UdeSA Movies</p>
    <h2>Menú</h2>
    <%- include("./partials/menu.ejs") %>

    <h2>Lista de todos los títulos de películas</h2>
    <p>Debajo deberás mostrar los títulos de las películas que tiene la base de datos, el género al que pertencen y la lista de actores que trabajan en ella.</p>

  </body>
</html>
